<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/af164c7e717a0ce16dae2423/w/8ea4fc042b94a51dc8ed9652/e/c51409a778aefce00d5715bf -->
<robot name="world">
  <!-- Link composite_part_1 -->
  <link name="composite_part_1">
    <inertial>
      <origin xyz="-0.558206 -0.000334122 0.0754461" rpy="0 0 0"/>
      <mass value="1342.78"/>
      <inertia ixx="14464.5" ixy="-3.14274" ixz="-15.4131" iyy="9729.03" iyz="-0.349561" izz="24124.6"/>
    </inertial>
    <!-- Part composite_part_1 -->
    <visual>
      <origin xyz="-0.0799322 -0.0015 -0.018" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/composite_part_1.stl"/>
      </geometry>
      <material name="composite_part_1_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0799322 -0.0015 -0.018" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/composite_part_1.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
