<?xml version="1.0"?>
<!-- The sentry as robot_state_publisher publishes it: sim/urdf/sentry_v2/sentry_v2.urdf's
     frames and meshes, with the wheel and suspension joints fixed because
     /joint_states only carries headlink and headpitch. sim's
     test_urdf_constants.py pins the chain to the sim model. -->
<robot name="sentry">
  <link name="root">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/root.stl"/>
      </geometry>
      <material name="root"><color rgba="0.18 0.18 0.2 1"/></material>
    </visual>
  </link>
  <link name="body"/>
  <joint name="fastened_2" type="fixed">
    <parent link="root"/>
    <child link="body"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="head">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/head.stl"/>
      </geometry>
      <material name="head"><color rgba="0.75 0.08 0.08 1"/></material>
    </visual>
  </link>
  <joint name="headlink" type="continuous">
    <parent link="body"/>
    <child link="head"/>
    <origin xyz="-0.000171242 9.52126e-05 0.248293" rpy="0 0 0"/>
    <axis xyz="-0 -0 -1"/>
  </joint>
  <link name="head_pitch">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/head_pitch.stl"/>
      </geometry>
      <material name="head_pitch"><color rgba="0.9 0.35 0.1 1"/></material>
    </visual>
  </link>
  <joint name="headpitch" type="revolute">
    <parent link="head"/>
    <child link="head_pitch"/>
    <origin xyz="-0.00760542 -0.100122 0.14235" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.6" upper="0.6" effort="200" velocity="10"/>
  </joint>
  <link name="carrier_0">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/carrier_0.stl"/>
      </geometry>
      <material name="carrier_0"><color rgba="0.6 0.62 0.65 1"/></material>
    </visual>
  </link>
  <joint name="suspension_0" type="fixed">
    <parent link="body"/>
    <child link="carrier_0"/>
    <origin xyz="6.61834e-09 -0.247 0.0954" rpy="0 0 0"/>
  </joint>
  <link name="wheel_0">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/wheel_0.stl"/>
      </geometry>
      <material name="wheel_0"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>
  </link>
  <joint name="wheel_0_spin" type="fixed">
    <parent link="carrier_0"/>
    <child link="wheel_0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_1">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/carrier_1.stl"/>
      </geometry>
      <material name="carrier_1"><color rgba="0.6 0.62 0.65 1"/></material>
    </visual>
  </link>
  <joint name="suspension_1" type="fixed">
    <parent link="body"/>
    <child link="carrier_1"/>
    <origin xyz="0.247 6.61834e-09 0.0954" rpy="0 0 0"/>
  </joint>
  <link name="wheel_1">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/wheel_1.stl"/>
      </geometry>
      <material name="wheel_1"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>
  </link>
  <joint name="wheel_1_spin" type="fixed">
    <parent link="carrier_1"/>
    <child link="wheel_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_2">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/carrier_2.stl"/>
      </geometry>
      <material name="carrier_2"><color rgba="0.6 0.62 0.65 1"/></material>
    </visual>
  </link>
  <joint name="suspension_2" type="fixed">
    <parent link="body"/>
    <child link="carrier_2"/>
    <origin xyz="-6.61834e-09 0.247 0.0954" rpy="0 0 0"/>
  </joint>
  <link name="wheel_2">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/wheel_2.stl"/>
      </geometry>
      <material name="wheel_2"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>
  </link>
  <joint name="wheel_2_spin" type="fixed">
    <parent link="carrier_2"/>
    <child link="wheel_2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="carrier_3">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/carrier_3.stl"/>
      </geometry>
      <material name="carrier_3"><color rgba="0.6 0.62 0.65 1"/></material>
    </visual>
  </link>
  <joint name="suspension_3" type="fixed">
    <parent link="body"/>
    <child link="carrier_3"/>
    <origin xyz="-0.247 -6.61834e-09 0.0954" rpy="0 0 0"/>
  </joint>
  <link name="wheel_3">
    <visual>
      <geometry>
        <mesh filename="package://thornbots_pkg/meshes/sentry_v2/wheel_3.stl"/>
      </geometry>
      <material name="wheel_3"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>
  </link>
  <joint name="wheel_3_spin" type="fixed">
    <parent link="carrier_3"/>
    <child link="wheel_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="lidar"/>
  <joint name="lidarlink" type="fixed">
    <parent link="head"/>
    <child link="lidar"/>
    <origin xyz="-0.119391 -0.18501 0.0968001" rpy="0 0 0"/>
  </joint>
  <link name="camera"/>
  <joint name="cameralink" type="fixed">
    <parent link="head_pitch"/>
    <child link="camera"/>
    <origin xyz="0.0920381 0.0948673 0.0566588" rpy="0 0 0"/>
  </joint>
  <!-- Where the shot leaves: on the pitch axis, between the flywheels
       (sentry_v2 CAD), pointing along head_pitch +x. Not in the generated
       model; sim/urdf/sentry_v2.urdf.xacro adds the same frame. -->
  <link name="muzzle"/>
  <joint name="muzzlelink" type="fixed">
    <parent link="head_pitch"/>
    <child link="muzzle"/>
    <origin xyz="0 0.1128 0" rpy="0 0 0"/>
  </joint>
</robot>
